
@{
    ViewData["Title"] = "Users";
}



@model List<ProductViewModel>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
        <li>@item.Price</li>
        <li>@item.Stock</li>
    }
</ul>


